In [1]:
import talib
import pandas as pd
%matplotlib inline
import warnings

# 屏蔽FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning)

# 你的代码...

def get_data(symbol):
    data = pd.read_csv('data/{}.csv'.format(symbol))
    data['date'] = data['date'].apply(lambda x: str(x))
    data.set_index('date', inplace=True)
    data.sort_index(ascending=True, inplace=True)
    data.index = pd.to_datetime(data.index)
    data['openinterest'] = 0
    data = data[['open', 'high', 'low', 'close', 'volume', 'openinterest']]
    return data

data = get_data('000300.SH')
data

,open,high,low,close,volume,openinterest
date,,,,,,
2005-01-04,994.7690,994.7690,980.6580,982.7940,7.412869e+06,0
2005-01-05,981.5770,997.3230,979.8770,992.5640,7.119109e+06,0
2005-01-06,993.3310,993.7880,980.3300,983.1740,6.288029e+06,0
2005-01-07,983.0450,995.7110,979.8120,983.9580,7.298694e+06,0
2005-01-10,983.7600,993.9590,979.7890,993.8790,5.791698e+06,0
...,...,...,...,...,...,...
2024-08-29,3273.5410,3290.7857,3269.5288,3277.6812,1.307023e+08,0
2024-08-30,3273.7532,3351.6254,3273.6496,3321.4323,1.886954e+08,0
2024-09-02,3307.5432,3307.7627,3264.7565,3265.0110,1.476124e+08,0
2024-09-03,3261.7410,3281.5935,3261.1877,3273.4282,1.228973e+08,0
2024-09-04,3253.8980,3272.9861,3249.9809,3252.1649,1.048325e+08,0

In [2]:
close = data['close']
print('累计收益', close[-1]/close[0] -1)

累计收益 2.3091012969147147

In [3]:
CAGR = (close[-1]/close[0]) ** (252/len(close))-1
print('年化收益',CAGR)

年化收益 0.06510692832596443

In [4]:
returns = close.pct_change()
returns

date
2005-01-04         NaN
2005-01-05    0.009941
2005-01-06   -0.009460
2005-01-07    0.000797
2005-01-10    0.010083
                ...
2024-08-29   -0.002682
2024-08-30    0.013348
2024-09-02   -0.016987
2024-09-03    0.002578
2024-09-04   -0.006496
Name: close, Length: 4781, dtype: float64

In [5]:
std = returns.std()*(252**0.5)
std

0.2549282437612618

In [6]:
SR = CAGR/std
SR

0.2553931544240211

In [7]:
equity = (1+returns).cumprod()
mdd = round((equity / equity.expanding(min_periods=1).max()).min() - 1, 3)
mdd

-0.723

In [8]:
kama = CAGR / abs(mdd)
kama

0.09005107652277239

In [9]:
import empyrical

In [10]:
# 计算年化收益率
annual_return = empyrical.annual_return(returns)
print(f"年化收益率: {annual_return * 100:.2f}%")

# 计算年化波动率
annual_volatility = empyrical.annual_volatility(returns)
print(f"年化波动率: {annual_volatility * 100:.2f}%")

年化收益率: 6.51%
年化波动率: 25.49%

In [16]:
# 计算夏普比率
sharpe_ratio = empyrical.sharpe_ratio(returns)
print(f"夏普比率: {sharpe_ratio:.2f}")

# 计算夏普比率
sharpe_ratio = (annual_return- 0) / annual_volatility

print(f"夏普比率: {sharpe_ratio:.2f}")

夏普比率: 0.38
夏普比率: 0.26

In [12]:
# 计算最大回撤
max_drawdown = empyrical.max_drawdown(returns)
print(f"最大回撤: {max_drawdown}")

最大回撤: -0.7230384458454895

In [13]:
# 计算卡玛比率
calmar_ratio = empyrical.calmar_ratio(returns)
print(f"卡玛比率: {calmar_ratio:.2f}")

卡玛比率: 0.09